.tiny-text {
  font-size: 9px;
  color: #747485;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.wr-logo{
  width: 100%;
  height: auto;
}

.bhrrc-logo{
  width: 100%;
  height: auto;
}
.bhrrc-logo-link{
  width: 45%;
}

.logo-link{
  width: 25%;
}

.active{
  font-weight: bold;
}
